/* StudentTable.css */

/* Table styles */
table {
  width: 90%;
  margin-left: 5%; /* Adjusted margin for better alignment */
  border-collapse: collapse;
  border: 2px solid #007bff; /* Added border for the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added shadow for a raised effect */
}

th, td {
  padding: 12px; /* Increased padding for better spacing */
  text-align: left;
}

/* Table header styles */
th {
  background-color: #1B2D48;
  color: #fff;
  font-weight: bold;
  border: 2px solid #00072d; /* Added border for header cells */
}

/* Table row hover effect */
tbody tr:hover {
  background-color: #494d6e;
}

/* Home.css */

/* Container styles */
.home-container {
  max-width: 800px; /* Increased max-width for better spacing */
  margin: 20px auto; /* Centered the container */
  padding: 20px;
  border: 2px solid #1b2d48;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Form styles */
.form-container {
  margin-bottom: 20px;
}

.form-container h2 {
  margin-bottom: 10px;
  color: #1B2D48; /* Added color to form heading */
}

.form-container label {
  display: block;
  margin-bottom: 8px; /* Adjusted margin for better spacing */
  color: #555; /* Added color to form labels */
}

.form-container input {
  width: 100%;
  padding: 7px;
   margin-right:5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Added transition effect for better interaction */
}

.form-container input:focus {
  border-color: #1b2d48; /* Changed border color on focus */
}

.form-container button {
  padding: 12px 24px;
  background-color: #1b2d48;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added transition effect for better interaction */
}

.form-container button:hover {
  background-color: #0056b3; /* Darkened background color on hover */
}

/* StudentTable container styles */
.student-table-container {
  margin-top: 20px;
}

.stuhead {
  text-align: center;
  color: #1b2d48;
  margin-bottom: 20px;
  font-size: 24px; /* Increased font size for heading */
}
button {
  padding: 12px 24px;
  background-color: #1b2d48;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added transition effect for better interaction */
}